<!DOCTYPE html>
<html lang="en">
<head>
  <title>Text Summariser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1 class="display-4">Text Summariser</h1>
    <p class="lead">Have tons of text to read and short of time? Then you have come to the right place. Summarise text as per need and save plenty of time and effort.</p>
    <hr class="my-4">
    <p>The algorithms for text summarisation used in this website are listed on the link below.</p>
    <a class="btn btn-primary btn-lg" href="{{url_for('algos')}}" role="button">Find algorithms here</a>
  </div>

  <!-- Main content -->
  <div style="margin-bottom: 30px;" class="text-monospace">
    <div class="row">
      <div class="col-12 col-md-1">
        
      </div>
      <div class="col-12 col-md-5 my-form" style="margin-right:20px; border: solid red;">
        <h4 class="text-center">ENTER DETAILS</h4>
        <form action="/" method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
          <!-- Name -->
          <div class="form-group">
            {{form.name.label(class_='label')}}<br>
            {{form.name(class_='form-control')}}
          </div>
          <br>
          <!-- Algo -->
          <div class="form-group">
            {{form.select.label(class_='label')}}<br>
            {{form.select(class_='form-control')}}
          </div><br>
          <!-- Textarea -->
          <div class="form-group">
            {{form.text.label(class_='label')}}<br>
            {{form.text(class_='form-control')}}
          </div><br>
          <h4 style="text-align: center;">OR</h4> 
          <br>
          <!-- File -->
          <div class="form-group">
            {{form.file.label(class_='label')}}<br>
            {{form.file(class_='form-control')}}
          </div><br>
          <div class="form-group">
            {{form.sentences.label(class_='label')}}<br>
            {{form.sentences(class_='form-control')}}
          </div><br>
          {% for message in form.file.errors %}
          <div style="color:red;">{{message}}</div>
          {% endfor %}
          {% for message in form.sentences.errors %}
          <div style="color:red;">{{message}}</div>
          {% endfor %}
           <div class="form-group">
            <button class="btn btn-info btn-rounded" type="submit">{{form.submit(class_='subm')}}</button>
          </div>
        </form>
      </div>

      <div class="col-12 col-md-5 my-result" style="border: solid red;">
        {% if ans != "": %}
          <div>
            <h2>Here's your summary</h2><br>{{ans}}
          </div>
        {% endif %}
        {% if ans == "": %}
          <div>
            <h2>Submit to get summary</h2><br>
          </div>
        {% endif %}
      </div>

    </div>  
  </div>

  <!-- Footer -->
    <footer>
       <div class="container-fluid bg-primary py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
              <div class="row py-0">
            <div class="col-sm-1 hidden-md-down">
                <a class="bg-circle bg-info" href="https://hitarthgandhi2708.wixsite.com/mysite">
                  <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
                </a>
              </div>
              <div class="col-sm-11 text-white">
                  <div><h4>  Contact</h4>
                  </div>
              </div>
              </div>
          </div>
          <div class="col-md-5">
            <div class="d-inline-block">
              <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
                <a href="https://github.com/Ramandeep172/">
                  <i class="fa fa-2x fa-fw fa-github text-white"></i></a>
              </div>
              <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
                <a href="https://www.linkedin.com/in/ramandeep-singh-2b201b17b/">
                  <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
              </div>
              <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
                <a href="mailto:ramandeep172bti@gmail.com">
                  <i class="fa fa-2x fa-fw fa-envelope text-white"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </footer>
      <!--/.footer-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
